:root {
    --yellow: #fcca4d;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Inter', sans-serif;
    font-weight: 600;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

p,a {
    font-family: 'Anek Malayalam', sans-serif;
}

a {
    text-decoration: none;
    font-size: 10px;
    color: white;
}

button {
    font-family:'Inter', sans-serif;
}

.bg-yellow {
    background: var(--yellow);
}

/* tools */
.card-package {
    .list-benefit {
        li {
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
            color: #2f2f30f3;
        }
    }

    .button {
        button {
            transition: background-color .3s;
        }
    }
}

.button-submit {
    padding: 2px 10px;
    background: black;
    color: white;
    border-radius: 5px;
}

.active {
    box-shadow: 0 10px 15px -3px rgba(51, 94, 194, 0.5), 0 4px 6px -4px rgba(122, 109, 194, 0.1);
}

.active > .button > button {
    background-color: red !important;
}

// card ayam
.card-ayam {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 9px;
    border: 1px rgba(37, 37, 37, 0.801) solid;
    height: auto;
    background-color: white;
}

/* footer start */
footer{
    padding-top: 0px;
    text-align: center;
    color: white;
    background: #000000;
}


@media only screen and (min-width: 600px) {
    #nav-button {
        display: none;
    }

    .tentang-main{
        height: 380px;
    }

    .card{
        height: 300px;

    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 10px;
    }

    nav ul {
        display: none;
    }

    #jumbotron {
        display: block;
        padding: 0 0;
    } 
    
    #imgjumbotron {
        width: 75%;
        margin: 0 auto;
        padding-top: 30px;
    }

    #keterangan {
        margin: 0 auto;
        padding: 0 15px;
        width: 80%;
        text-align: center;
    }

    #keterangan h2 {
        font-size: 20px;
    }
}

.custom-shape-divider-bottom-1655793163 {
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655793163 .shape-fill {
    fill: #E7FAFF;
}
